<main>
  <section class="about-intro">
    <div class="container">
      <h1 class="about-title">Sobre Nós</h1>
      <p class="about-text">
        Na SneakerHunter, somos apaixonados por calçados e moda. Nossa missão é oferecer os melhores tênis, combinando estilo, conforto e qualidade. Estamos comprometidos em proporcionar uma experiência única para nossos clientes.
      </p>
    </div>
  </section>
    
  <section class="about-values">
    <div class="container">
      <h2 class="section-title">Nossos Valores</h2>
      <ul class="values-list">
        <li><ion-icon name="checkmark-circle-outline"></ion-icon> Qualidade em cada produto</li>
        <li><ion-icon name="checkmark-circle-outline"></ion-icon> Compromisso com nossos clientes</li>
        <li><ion-icon name="checkmark-circle-outline"></ion-icon> Inovação e criatividade</li>
        <li><ion-icon name="checkmark-circle-outline"></ion-icon> Responsabilidade social e ambiental</li>
      </ul>
    </div>
  </section>

  <section class="about-team">
    <div class="container">
      <h2 class="section-title">Nossa Equipe</h2>
      <div class="team-grid">
        <div class="team-member">
          <img id="fora" src="assets/images/igu.png" alt="Igor Gabriel" class="team-photo">
          <h3 class="team-name">Igor Gabriel</h3>
          <p class="team-role">CEO & Fundador</p>
        </div>
        <div class="team-member">
          <img src="assets/images/Matheus.png" alt="Matheus Vieira" class="team-photo">
          <h3 class="team-name">Matheus Vieira</h3>
          <p class="team-role">PO = Product Owner </p>
        </div>
        <div class="team-member">
          <img id="fora" src="assets/images/manokage.png" alt="Nicolas Oliveira" class="team-photo">
          <h3 class="team-name">Nicolas Oliveira</h3>
          <p class="team-role">Design</p>
        </div>
        <div class="team-member">
          <img src="assets/images/lindinho.jpg" alt="Mathias Santos" class="team-photo">
          <h3 class="team-name">Mathias Santos</h3>
          <p class="team-role">Scrum Master</p>
        </div>
      </div>
    </div>
  </section>
</main>

