<header class="header" data-header>
  <div class="container">
    <div class="overlay" data-overlay></div>

    <a routerLink="/home" class="logo">
      <img
        src="assets/images/logo_Sneaker-removebg-preview (1).png"
        width="160"
        height="50"
        alt="SneakerHunter"
      />
    </a>

    <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
      <ion-icon name="menu-outline"></ion-icon>
    </button>

    <nav class="navbar" data-navbar>
      <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
        <ion-icon name="close-outline"></ion-icon>
      </button>

      <a routerLink="/home" class="logo">
        <img
          src="assets/images/logo_Sneaker-removebg-preview (1).png"
          width="190"
          height="50"
          alt="SneakerHunter logo"
        />
      </a>

      <ul class="navbar-list">
        <li class="navbar-item">
         <a routerLink="/home" routerLinkActive="active" class="navbar-link">Home</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/sobre" routerLinkActive="active" class="navbar-link">Sobre nos</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/produtos" routerLinkActive="active" class="navbar-link">Produtos</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/contato" routerLinkActive="active" class="navbar-link">Contato</a>
        </li>
      </ul>

      <ul class="nav-action-list">
        <li>
          <a routerLink="/login" class="nav-action-btn">
            <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

            <span class="nav-action-text">Login / Register</span>
          </a>
        </li>
        <li>
          <a routerLink="/favorites" class="icon-link nav-action-btn">
            <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
            <span class="nav-action-text">Wishlist</span>
            <span
              class="nav-action-badge"
              *ngIf="favCount$ | async as fcount"
              >{{ fcount || "" }}</span
            >
          </a>
        </li>

        <li>
          <a routerLink="/cart" class="icon-link nav-action-btn">
            <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>
            <span class="nav-action-text"
              >Basket:
              <strong *ngIf="cartTotal$ | async as total"
                >${{ total }}</strong
              ></span
            >
            <span
              class="nav-action-badge"
              *ngIf="cartCount$ | async as ccount"
              >{{ ccount || "" }}</span
            >
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<a href="#top" class="go-top-btn" data-go-top>
  <ion-icon name="arrow-up-outline"></ion-icon>
</a>
