<div class="produtos-container">
  <h1>Catálogo de Produtos</h1>

  <!-- Loading -->
  <div *ngIf="loading" class="loading">
    <p>Carregando produtos...</p>
  </div>

  <!-- Erro -->
  <div *ngIf="erro" class="error">{{ erro }}</div>

  <!-- Produtos -->
  <div *ngIf="!loading && sneakers.length > 0" class="produtos-grid">
    <div *ngFor="let sneaker of sneakers" class="produto-card">
      <div class="produto-imagem">
        <img 
          *ngIf="sneaker.imageUrl" 
          [src]="sneaker.imageUrl" 
          [alt]="sneaker.name"
          onerror="this.src='assets/images/placeholder.png'"
        />
        <div *ngIf="!sneaker.imageUrl" class="no-image">Sem imagem</div>
      </div>
      
      <div class="produto-info">
        <h3>{{ sneaker.name }}</h3>
        <p class="brand">{{ sneaker.brand }}</p>
        <p class="description">{{ sneaker.description }}</p>

        <!-- SIZES -->
     
              <div class="sizes" *ngIf="sneaker.sizes && sneaker.sizes.length">
                <label class="tamanho">Tamanhos:</label>
                <div class="sizes-list">
                  <button *ngFor="let sz of sneaker.sizes"
                          type="button"
                          class="size-btn"
                          [class.selected]="isSelectedSize(sneaker, sz)"
                          (click)="selectSize(sneaker, sz)">
                    {{ sz }}
                  </button>
                </div>
              </div>
        
        <div class="produto-footer">
          <span class="preco">{{ sneaker.price | currency:'BRL':'symbol':'1.2-2' }}</span>
          
          <div class="actions">
            <button (click)="addToCart(sneaker)" class="btn-cart" title="Adicionar ao carrinho">
              <ion-icon  class="icones" name="cart-outline"></ion-icon>
            </button>
            
            <button (click)="addToFavorites(sneaker)"
            class="btn-favorite"
            [class.active]="isFavorited(sneaker)"
            title="Adicionar aos favoritos">
            <ion-icon class="icones" [attr.name]="isFavorited(sneaker) ? 'heart' : 'heart-outline'"></ion-icon>
          </button>
          <button class="btn-primary" (click)="comprar(sneaker)">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Vazio -->
  <div *ngIf="!loading && sneakers.length === 0 && !error" class="empty">
    <p>Nenhum produto disponível no momento.</p>
  </div>
</div>